body{
    background-color: rgb(119, 30, 155);
}
.app-wrap{
    align-items: center;
    padding: 5px;
    margin-left: 13cm;
    margin-top: 1cm;
    height: 100%;
  }
#input{
    color: black;
    margin-top: 1cm;
    height: 30px;
    border-radius: 13px 0px 13px 0px;
    background-color: rgb(194, 114, 226);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px solid coral ;
  }
#search{
  border-radius: 0px 13px 0px 13px;
  background-color: rgb(194, 114, 226);
  }
.city{
    margin-top: 50px;
    margin-left: 25px;
    color: white;
    font-size: xx-large;
  }
.date{
    color: white;
    font-size: larger;
    margin-left: 40px;
      
  }
.temp{
    margin-top: 70px;
    margin-left: 1px;
    color: white;
    font-size: 2cm;
    text-shadow: 2px black;
  }
.weather{
    margin-left: 65px;
    margin-top: 40px;
    font-size: xx-large;
    color: white;
 }
.hi-low{
    margin-left: 35px;
    margin-top: 50px;
    color: white;
    font-size: x-large;
 }

     
    